body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.45;
  color: #101010;
  background-color: #205880;
}

body, html {
    height: 100%;
    margin: 0;
    width:100%;
    padding:0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

#app {
  height: 100%;
  padding: 15px;
  display:flex;
}

#app > #container-fluid {
  border-radius: 7px;
  background: #f0f0f0;
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 100%;
}

#header {
  border-bottom: 1px solid #969696;
  font-weight: 400;
  padding: 5px 8px;
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#content {
  padding: 10px;
}

.tab-content {
  border: 1px solid #d4d4d4;
  padding: 15px;
  background: #fdfdfd;
}

.tab-content .table {
  margin: 0;
}

.tab-content .table td,
.tab-content .table th {
  font-size: 10px;
  vertical-align: middle;
}

.tab-content .table th {
  text-transform: uppercase;
}

.tab-content .table tr {
  border: none !important;
}

.btn-list {
  margin-bottom: 5px;
}

.gray-gradiant {
  background: #efefef;
  background: -moz-linear-gradient(top, #efefef 0%, #d8d8d8 67%, #b2b2b2 100%);
  background: -webkit-linear-gradient(top, #efefef 0%,#d8d8d8 67%,#b2b2b2 100%);
  background: linear-gradient(to bottom, #efefef 0%,#d8d8d8 67%,#b2b2b2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#b2b2b2',GradientType=0 );
}

.nav-tabs {
  margin-bottom: -1px;
}
.nav-tabs>li>a {
  font-weight: 300;
  background: #fcfcfc;
  color: #999;
  padding: 5px 15px;
  border-bottom: 1px solid #d4d4d4;
}
.nav-tabs>li>a:focus,.nav-tabs>li>a:hover {
  background: #fcfcfc;
  color: #999;
  border-color: transparent transparent #d4d4d4 transparent;
}

fieldset legend {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: none;
  display: inline-block;
  width: auto;
}

fieldset .btn-list {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 7px;
}

fieldset .progress {
  margin-top: 0 !important;
  margin-bottom: 10px;
}



#rules-container {

}

#packets-container {

}

#simulation-container {

}
