<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="MainController" style="margin: 0px;">

	<h1>Firewall simulator</h1>

	<div class="rules-container">
		<li ng-repeat="rule in rules" style="border:1px solid black;">
			<h3>{{ rule.ruleName }}</h3>
			<h4>protertie1:{{ rule.propertie1 }}</h4>
			<h4>protertie2:{{ rule.propertie2 }}</h4>
			<h4>rawRule:{{ rule }}</h4>
		</li>

		<div class="form-group">
			<h3>Add a rule</h3>
			Rule Name : <input class="form-control" type="text" ng-model="tmpRule.ruleName"/>
			Propertie 1 : <input class="form-control" type="text" ng-model="tmpRule.propertie1"/>
			Propertie 2 : <input class="form-control" type="text" ng-model="tmpRule.propertie2"/>
			<input class="btn btn-default" type="submit" ng-click="addNewRule()"/>
		</div>
	</div>

</body>
</html>