<div class="modal-header">
    <h3 class="modal-title">Add rule</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    
    <div class="form-group">
      <label for="inputRuleName" class="control-label col-xs-2">Rule Name</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputRuleName" ng-model="ruleSelected.ruleName">
      </div>
    </div>

    <div class="form-group">
      <label for="inputProperty1" class="control-label col-xs-2">Source Zone</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputProperty1" placeholder="Zone Name" ng-model="ruleSelected.sourceZone">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputProperty2" class="control-label col-xs-2">Source Address</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputProperty2" placeholder="0.0.0.0/0" ng-model="ruleSelected.sourceAddress">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputProperty2" class="control-label col-xs-2">User</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputProperty2" placeholder="User name" ng-model="ruleSelected.user">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputProperty2" class="control-label col-xs-2">Destination Zone</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputProperty2" placeholder="User name" ng-model="ruleSelected.destinationZone">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputProperty2" class="control-label col-xs-2">Destination Address</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputProperty2" placeholder="0.0.0.0/0" ng-model="ruleSelected.destinationAddress">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputProperty2" class="control-label col-xs-2">Destination Port</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputProperty2" placeholder="22" ng-model="ruleSelected.destinationPort">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputProperty2" class="control-label col-xs-2">Application</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputProperty2" placeholder="SSH" ng-model="ruleSelected.application">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputProperty2" class="control-label col-xs-2">Action</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="inputProperty2" placeholder="Allow or Deny" ng-model="ruleSelected.action">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>