<div class="modal-header">
  <h3 class="modal-title">{{packetSelected.packet_id == -1 ? "Add" : "Edit"}} packet</h3>
  <div class="modal-subtitle">You can put 'any' if you does not care about the field value.</div>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="addpacket" novalidate>

    <div class="form-group">
      <label class="control-label col-xs-2">User</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" name="User" ng-model="packetSelected.user" ng-required="true">
        <span class="text-danger" data-ng-show="addpacket.submitted && addpacket.User.$invalid">User is required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-2">Application</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" name="Application" ng-model="packetSelected.application" ng-required="true">
        <span class="text-danger" data-ng-show="addpacket.submitted && addpacket.Application.$invalid">Application is required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Source</label>
      <div class="col-sm-2">
        <input class="form-control" placeholder="zone"  name="SourceZone" ng-model="packetSelected.sourceZone" ng-required="true">
        <span class="text-danger" data-ng-show="addpacket.submitted && addpacket.SourceZone.$error.required">Zone is required</span>
      </div>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="ip address" name="SourceAddress" ng-model="packetSelected.sourceAddress" ng-required="true">
        <span class="text-danger" data-ng-show="addpacket.submitted && addpacket.SourceAddress.$error.required">Address is required<br></span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Destination</label>
      <div class="col-sm-2">
        <input class="form-control" placeholder="zone"  name="DestinationZone" ng-model="packetSelected.destinationZone" ng-required="true">
        <span class="text-danger" data-ng-show="addpacket.submitted && addpacket.DestinationZone.$error.required">Zone is required</span>
      </div>
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="ip address" name="DestinationAddress" ng-model="packetSelected.destinationAddress" ng-required="true">
        <span class="text-danger" data-ng-show="addpacket.submitted && addpacket.DestinationAddress.$error.required">Address is required<br></span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="port" min="1" max="65535" port name="DestinationPort" ng-model="packetSelected.destinationPort" ng-required="true">
        <span class="text-danger" data-ng-show="addpacket.submitted && addpacket.DestinationPort.$error.required">Port required<br></span>
        <span class="text-danger" data-ng-show="addpacket.submitted && addpacket.DestinationPort.$error.port">Port not valid</span>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">{{packetSelected.packet_id == -1 ? "Save" : "Edit"}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
