<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">{{ruleSelected.rule_id == -1 ? "Add" : "Edit"}} rule</h3>
  <div class="modal-subtitle">Multiple values have to be separated by a coma.</div>
  <div class="modal-subtitle">You can put 'any' if you does not care about the field value.</div>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="addrule" novalidate>

    <div class="form-group">
      <label class="control-label col-xs-2">Name</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" name="Name" ng-model="ruleSelected.name" ng-required="true">
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.Name.$invalid">Name is required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-2">User</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" name="User" ng-model="ruleSelected.user" ng-required="true">
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.User.$invalid">User is required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-2">Application</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" placeholder="any" name="Application" ng-model="ruleSelected.application" ng-required="true">
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.Application.$invalid">Application is required</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Source</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="SourceZone" placeholder="zone" ng-model="ruleSelected.sourceZone" ng-required="true">
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.SourceZone.$error.required">Zone is required</span>
      </div>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="ip address and netmask" netmask name="SourceAddress" ng-model="ruleSelected.sourceAddress" ng-required="true">
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.SourceAddress.$error.required">Address is required<br></span>
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.SourceAddress.$error.netmask">Address is not valid netmask</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Destination</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" name="DestinationZone" placeholder="zone" ng-model="ruleSelected.destinationZone" ng-required="true">
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.DestinationZone.$error.required">Zone is required</span>
      </div>
      <div class="col-xs-6">
        <input class="form-control" placeholder="ip address and netmask" netmask name="DestinationAddress" ng-model="ruleSelected.destinationAddress" ng-required="true">
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.DestinationAddress.$error.required">Address is required<br></span>
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.DestinationAddress.$error.netmask">Address is not valid netmask</span>
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" min="1" max="65535" placeholder="port" port name="DestinationPort" ng-model="ruleSelected.destinationPort" ng-required="true">
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.DestinationPort.$error.required">Port required<br></span>
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.DestinationPort.$error.port">Port not valid</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-2">Action</label>
      <div class="col-xs-10">
        <select
          class="form-control"
          name="Action"
          ng-options="option.name for option in data.availableActions track by option.id"
          ng-model="ruleSelected.action" ng-required="true">
          <option value="" disabled selected style="display: none;">choose one of the following</option>
        </select>
        <span class="text-danger" data-ng-show="addrule.submitted && addrule.Action.$error.required">Action is required<br></span>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">{{ruleSelected.rule_id == -1 ? "Save" : "Edit"}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
