<div class="modal-header">
    <h3 class="modal-title">Add packet</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-xs-2">User</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" placeholder="User name" ng-model="packetSelected.user" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-2">Application</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" placeholder="SSH" ng-model="packetSelected.application" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-2">Source</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" placeholder="0.0.0.0" ng-model="packetSelected.sourceAddress" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Destination</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" placeholder="0.0.0.0" ng-model="packetSelected.destinationAddress" required>
      </div>
      <div class="col-xs-2">
        <input type="number" class="form-control" placeholder="22" min="1" max="65535" ng-model="packetSelected.destinationPort" required>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
