<div class="rules-container">
  <fieldset>
    <legend>Firewall rules</legend>
    <div class="btn-list">
      <button type="button" class="btn btn-xs btn-primary" ng-click="openRuleEditor()"><i class="fa fa-plus"></i> NEW</button>
    </div>
    <form class="form-inline">
      <div class="form-group" style="margin-bottom: 10px;">
        <label for="paloaltofileUpload" style="margin-right: 10px;">Import Palo Alto Network Configuration</label>
        <input multiple type="file"  id="paloaltofileUpload" onchange="angular.element(this).scope().onFileUpload(this)">
      </div>
    </div>
    <table class="table table-striped table-bordered" cellspacing="0" ng-show="rules.length > 0" width="100%" wt-responsive-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>User</th>
          <th>Application</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rule in rules track by $index" >
          <td><a href="#" ng-click="$event.preventDefault(); openRuleEditor(rule)"><strong>{{ rule.name }}</strong></a></td>
          <td>{{ rule.user }}</td>
          <td>{{ rule.application }}</td>
          <td>Name: {{ rule.sourceZone }}<br>Addresses: {{ rule.sourceAddress }}</td>
          <td>Name: {{ rule.destinationZone }}<br>Addresses: {{ rule.destinationAddress }}<br>Port: {{ rule.destinationPort }}</td>
          <td><button type="button" class="btn btn-xs btn-{{ rule.action.name == 'allow' ? 'success' : 'danger' }}">{{ rule.action.name }}</button></td>
          <td>
            <button type="button" class="btn btn-xs btn-info" ng-click="moveRuleElementUp(rule)"><i class="fa fa-chevron-circle-up"></i></button>
            <button type="button" class="btn btn-xs btn-info" ng-click="moveRuleElementDown(rule)"><i class="fa fa-chevron-circle-down"></i></button>
            <button type="button" class="btn btn-xs btn-warning" ng-click="openRuleEditor(rule)"><i class="fa fa-cog"></i> Edit</button>
            <button type="button" class="btn btn-xs btn-danger" ng-click="deleteRule(rule)"><i class="fa fa-trash"></i> Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
