<div class="rules-container">
  <div class="btn-list">
    <span class="text-c2a" ng-click="openRuleEditor()">Add a new rule</span>
  </div>
  <table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Rule name</th>
        <th>Propertie 1</th>
        <th>Propertie 1</th>
        <th>Raw</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rule in rules" >
        <td>{{ rule.ruleName }}</td>
        <td>{{ rule.propertie1 }}</td>
        <td>{{ rule.propertie2 }}</td>
        <td>{{ rule }}</td>
        <td>
          <span class="text-c2a" ng-click="openRuleEditor(rule)">edit</span>
          <span class="text-c2a" ng-click="deleteRule(rule)">delete</span>
        </td>
      </li>
    </tbody>
  </table>
</div>
